.contact{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 50px 0px 50px;
}

.contact > h1 {
    margin: 100px 0px 100px 0px
}

.contact__ui-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 150px;
}

.contact__ui-container > * {
    width: 50%;
    min-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 15px 10px 15px;
    height: inherit;
    padding: 20px;
}

.contact__ui-container__info-contact {
    background-image: url('../images/card-contact.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f2f2f2;
}

.contact__ui-container__info-contact > :first-child{
    margin-top: 60px;
}

.contact__ui-container__info-contact > div  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.contact__ui-container__info-contact > div > div > a{
    color: var(--blueviolet);
    font-size: 2rem;
    transition: color .5s;
}

.contact__ui-container__info-contact > div > div > i {
    color: var(--blueviolet);
    font-size: 2rem;
    transition: color .5s;
    cursor: pointer;
}

.contact__ui-container__info-contact > div > div > a:hover{
    color:var(--blueviolet-hover);
}   

.contact__ui-container__info-contact > div > div > i:hover{
    color:var(--blueviolet-hover);
}


.contact__ui-container__info-contact > div > div > :first-child{
    margin-right: 10px;
}

.contact__ui-container__info-contact > div > div > :last-child{
    margin-left: 10px;
}

.contact__ui-container > form {
    align-items: center;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact__ui-container > form > * {
    margin-bottom: 30px;
}

.contact__ui-container > form > :nth-child(2){
    color: var(--blueviolet);
    font-size: 2.5rem;
}

.contact__ui-container > form > input{
    width: 60%;
    height: 35px;
}

.contact__ui-container > form > button{
    width: 60%;
    height: 30px;
}

.contact__ui-container > form > textarea{
    width: 60%;
    height: 150px;
    resize: none;
    border: 1px solid var(--blueviolet);
    border-radius: 3px;
}

@media ( max-width: 599px) {

    .contact{
        padding: 0px;
    }

    .contact > h1 {
        margin-left: 10px;
    }

    .contact__ui-container > * {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .contact__ui-container > form > input {
        width: 90%;
    }

    .contact__ui-container > form > button{
        width: 90%;
    }

    .contact__ui-container > form > textarea{
        width: 90%;
    }

}

@media (min-width: 600px) and (max-width: 1199px) {

    .contact__ui-container {
        max-width: 700px;
    }

    .contact__ui-container > form > input{
        width: 80%;
    }

    .contact__ui-container > form > button{
        width: 80%;
    }

    .contact__ui-container > form > textarea{
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .contact > h1 {
        margin-left: 120px
    }

}


