.first-view{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.first-view__presentation{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap-reverse;
    font-weight: bold;
    width: 100%;
    padding: 20px;
}

.first-view__presentation__image {
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 300px;
    min-width: 300px;
}

.first-view__presentation > p {
    text-align: left;
    font-size: 2rem;
    min-width: 400px;
    max-width: 500px;
    margin-right: 25px;
}

.first-view__presentation > p > b,strong{
    color: var(--blueviolet);
    font-size: 2.3rem; 
}

.first-view__slide-arrow{
    animation: slideDown 1s ease-in 4 alternate;
    bottom: 40px;
    color: var(--blueviolet);
    position: absolute;   
}

.first-view__slide-arrow > i {
    font-size: 2rem;
}

@keyframes slideDown {
    0%{
        bottom: 40px;
    }

    100%{
        bottom: 10px;
    }
}

@keyframes slideDownOff {
    0%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
    }
}

@media ( max-width: 599px) {
    .first-view__presentation{
        padding: 10px;
    }

    .first-view__presentation > p {
        text-align: center;
        font-size: 1.3rem;
        min-width: 180px;
        margin-right: 0px;
    }

    .first-view__presentation > p > b,strong{
        color: var(--blueviolet);
        font-size: 1.6rem; 
    }

    .first-view__presentation > img {
        min-width: 250px;
        height: 250px;
    }

}

@media (min-width: 1200px) {

    .first-view__presentation > p {
        font-size: 2.2rem;
    }

    .first-view__presentation > p > b,strong{
        color: var(--blueviolet);
        font-size: 2.5rem; 
    }
    
}

