.proyects{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 50px 0px 50px;
}

.proyects > h1 {
    margin: 100px 0px 100px 0px;
}

.proyects__all-proyects{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.proyects__all-proyects__proyect{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1fr;
    max-width: 400px;
    padding: 0px 30px 0px 30px;
    margin-bottom: 60px;
}

.proyects__all-proyects__proyect > h2{
    margin-bottom: 20px;
}

.proyects__all-proyects__proyect > img{
    width: 100%;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.proyects__all-proyects__proyect > p{
    text-align: center;
}

.proyects__all-proyects__proyect > div > a {
    color: var(--blueviolet);
    font-size: 2.3rem;
}

.proyects__all-proyects__proyect > div > :first-child{
    margin-right: 25px;
}

@media ( max-width: 599px) {
    .proyects{
        padding: 0px;
    }

    .proyects > h1 {
        margin-left: 10px;
    }

    .proyects__all-proyects__proyect{
        min-width: 200px;
        margin: 0px 0px 60px 0px;
    }
}

@media (min-width: 1200px) {
    .proyects > h1 {
        margin-left: 120px;
    }
    
}
